@inherits LayoutComponentBase

<div class="page">
    <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout >
        <MyNavMenu />
        <MudContainer id="app-content" Class="px-8 mud-height-full" MaxWidth="MaxWidth.ExtraLarge">
                @Body
            </MudContainer>

    </MudLayout>
</div>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode=true;
}