@page "/"
<MudContainer Class="mud-height-full">
    <div class=" d-flex justify-center align-center ">

        <MudCard>
            <MudCardContent>
                <MudText>Site under construction</MudText>
                <MudText Typo="Typo.body2">Come back later.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudLink Href="https://github.com/MarioG108" Target="current" Color="Color.Success" Icon="@Icons.Custom.Brands.GitHub"> MarioG108</MudLink>
            </MudCardActions>
        </MudCard>
    </div>
</MudContainer>
@code {

}
