@page "/counter"
<MudContainer MaxWidth="MaxWidth.Medium">

        <PageTitle>Counter</PageTitle>

        <h1>Counter</h1>

        <p role="status">Current count: @currentCount</p>
    <MudButton Class="mt-5" Variant="Variant.Outlined" Color="Color.Primary" OnClick="IncrementCount" >Count +1</MudButton>

</MudContainer>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
